.footer {
  background-color: var(--footer-color);
  color: #fff;
  padding: 10px;
  height: 250px;
}

.footer h2,
.footer h3 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.social {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#git,
#linked {
  margin: 10px;
  cursor: pointer;
  opacity: 0.9;
}

#git:hover,
#linked:hover {
  margin: 10px;
  opacity: 0.7;
}
